#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip

<IfModule mod_rewrite.c>
   Options +FollowSymLinks
   Options +Indexes
   RewriteEngine On

   # Statiska sidor
   RewriteRule ^(Göteborg|Lund|Luleå|Jönköping|Malmö|Piteå|Skane|Skåne|Stockholm|Uppsala)/?$      /?location=$1 [NC,L] 
   RewriteRule ^forum/?$         /forum.html  [NC,L]
   RewriteRule ^frilansare/?$    /frilansare.html  [NC,L]
   RewriteRule ^grupper/?$       /grupper.html  [NC,L]
   RewriteRule ^hackathons/?$    /hackathons.html  [NC,L]
   RewriteRule ^hackathonsphp/?$ /hackathons.php  [NC,L]
   RewriteRule ^hobbyprojekt/?$  /hobbyprojekt.html  [NC,L]
   RewriteRule ^kalender/?$      /kalender.html [NC,L]
   RewriteRule ^data/?$          /oppna-data.html [NC,L]
   RewriteRule ^open-data/?$     /oppna-data.html [NC,L]
   RewriteRule ^oppna-data/?$    /oppna-data.html [NC,L]
   RewriteRule ^personer/?$      /personer.html [NC,L]
   RewriteRule ^resurser/?$      /resurser.html [NC,L]
   RewriteRule ^utbildningar/?$  /utbildningar.html [NC,L]
   RewriteRule ^öppna-data/?$    /oppna-data.html [NC,L]
</IfModule>
