/* Testar något nytt! Vi lägger allting i bokstavsordning! :D */

body {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

#calendar h2 {
  margin-bottom: 2px;
}

#calendar h2 + p {
  margin-top: 2px;
  margin-bottom: 2px;
}

#calendar h2 + p + .tags {
  margin-top: 2px;
  font-size: 100%;
  color: #333;
  font-family: monospace;
  letter-spacing: -.04rem;
}

#calendar input[type=checkbox] {
  display: none;
}

#calendar input:checked + label:before {
  content: "☑️ ";
}

#calendar input + label:before {
  content: "🔲 ";
}

#calendar label {
  font-size: 1.2rem;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 11px;
  margin-bottom: 6px;
}



input:checked ~ .calendar-item {
  display: none;
}

#filter-call-for-papers:checked ~ .calendar-item[data-type*="call-for-papers"] {
  display: block;
}

#filter-hackathon:checked ~ .calendar-item[data-type*="hackathon"] {
  display: block;
}

#filter-conference:checked ~ .calendar-item[data-type*="conference"] {
  display: block;
}

#filter-meetup:checked ~ .calendar-item[data-type*="meetup"] {
  display: block;
}

.calendar-item {
  margin-bottom: calc(2rem + 5vh);
}

#hello-reason {
  margin: 2rem auto 1rem;
  padding-right: 5rem;
}

p {
  max-width: 42rem;
  font-size: 1.3rem;
  line-height: 130%;
}

#page-index-returning-visitor header {
  display: none
}

#page-index-returning-visitor #calendar {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13vh;
}

@media screen and (max-device-width: 600px) {

   {
    margin: 13vh 0 0
  }

  #contribute {
    margin: 5rem 0 2rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .5rem 0;
  }
}

@media screen and (min-device-width: 800px) and (min-width: 1284px) and (min-height: 440px) {
  a {
    color: #2a66ee;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  #page-index {
    margin-top: 110vh;
    padding-bottom: 5vh;
    padding-right: 55vw;
  }

  #page-index #calendar {
    position: absolute;
    top: 0;
    right: 0;
    width: 55vw;
    box-sizing: border-box;
    padding: 2rem;
  }

  #contribute {
    margin: calc(3rem + 13vh) auto 0;
    max-width: 30rem;
    font-family: monospace;
  }

  #contribute p {
    font-size: 1rem;
  }

  #page-index header {
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 100vh;
    background: #111;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    box-sizing: border-box;
  }

  #page-index header h1 {
    margin-bottom: 0;
  }

  #page-index header h2 {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 300;
  }

}
