/* Testar något nytt! Vi lägger allting i bokstavsordning! :D */

body {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background: #111;
  color: #fff;
}

#calendar h2 {
  margin-bottom: 2px;
  display: inline;
}

#calendar h2 + p {
  margin-top: 2px;
  margin-bottom: 2px;
}

#calendar h2 + p + .tags {
  margin-top: 2px;
  font-size: 100%;
  color: #eee;
  font-family: monospace;
  letter-spacing: -.04rem;
}

#calendar input[type=checkbox] {
  display: none;
}

#calendar input:checked + label:before {
  content: "☑️ ";
  position: absolute;
  left: 0;
  top: 0;
}

details { display: inline-block; }

#filter-hackathon:checked  ~ #filter #label-filter-hackathon:before,
#filter-conference:checked ~ #filter #label-filter-conference:before,
#filter-meetup:checked     ~ #filter #label-filter-meetup:before {
  content: "☑️ ";
  position: absolute;
  left: 0;
  top: 0;
}

#filter label {
  padding: .3rem 0 .3rem 1.5rem;
  position: relative;
}

#calendar input + label:before {
  content: "  ";
}

#calendar label {
  font-size: 1.2rem;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 11px;
  margin-bottom: 6px;
}

#calendar .location:not(:empty):after {
  content: " ";
}

input:checked ~ .calendar-item {
  display: none;
}

#filter-call-for-papers:checked ~ .calendar-item[data-type*="call-for-papers"] {
  display: block;
}

#label-filter-hackathon:after {
  content: " 👩🏽‍💻";
  position: absolute;
  top: -2px;
  padding-left: 4px;
  font-size: 130%;
}

#filter-hackathon:checked ~ .calendar-item[data-type*="hackathon"] {
  display: block;
}

#filter-conference:checked ~ .calendar-item[data-type*="conference"] {
  display: block;
}

#filter-meetup:checked ~ .calendar-item[data-type*="meetup"] {
  display: block;
}

.calendar-item {
  margin-bottom: calc(1.3rem + 3vh);
}

#hello-reason {
  margin: 2rem auto 1rem;
  padding-right: 5rem;
}

p {
  max-width: 42rem;
  font-size: 1.3rem;
  line-height: 130%;
}

#page-index-returning-visitor header {
  display: none
}

#page-index-returning-visitor #hello-reason {
  display: none;
}

summary {
  cursor: pointer;
}


@media screen and (max-device-width: 600px) {

  a {
    color: #fff;
  }

  body {
    margin: 0;
    background: #111;
    color: #fff;
    padding: 1.8rem;
  }

  header {
    text-align: center;
  }

  #label-filter-hackathon:after {
    font-size: 150%;
  }

  #calendar h2 {
    cursor: pointer;
  }

  #calendar h2 + p + .tags {
    color: #eee;
  }

  #calendar label {
    display: block;
  }

  #contribute {
    margin: 5rem 0 2rem;
    padding: .1rem 0;
  }

  #page-index-returning-visitor #calendar {
    padding-top: 0;
  }

}

@media screen and (min-device-width: 800px) and (min-width: 1284px) and (min-height: 440px) {
  a {
    color: #2a66ee;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  body { padding-left: 300px; }

  #page-index {
    padding-bottom: 5vh;
  }

  #page-index #calendar {
    width: 55vw;
    box-sizing: border-box;
    padding: 2rem;
  }

  #contribute {
    margin: calc(3rem + 13vh) auto 0;
    max-width: 30rem;
    font-family: monospace;
  }

  #contribute p {
    font-size: 1rem;
  }

  #filter {
    position: fixed;
    top: 2rem;
    left: 2rem;
  }

  #filter label {
    display: block;
    margin-bottom: 7px;
    cursor: pointer;
  }

  #page-index header {
    margin-left: -300px;
    text-align: center;
    padding-top: 13vh
  }
  #page-index header h1 {
    margin-bottom: 0;
    font-size: 4vw;
  }

  #page-index header h2 {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 300;
  }

}
